name: Release

on:
  push:
    tags: ["v*.*.*"]

env:
  CARGO_TERM_COLOR: always

jobs:
  github:
    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - uses: actions/checkout@v4
      - name: Add target
        run: rustup target add ${{ matrix.target }}
      - name: Build
        run: |
          cargo build --release --target ${{ matrix.target }}
      - name: Compress (zip)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          Compress-Archive -Path target/${{ matrix.target }}/release/multi-material-single-nozzle.exe -DestinationPath multi-material-single-nozzle-${{ matrix.target }}.zip
          Get-FileHash multi-material-single-nozzle-${{ matrix.target }}.zip -Algorithm SHA256
      - name: Compress (tar.gz)
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          tar -C target/${{ matrix.target }}/release/ -czvf multi-material-single-nozzle-${{ matrix.target }}.tar.gz multi-material-single-nozzle
          sha256sum multi-material-single-nozzle-${{ matrix.target }}.tar.gz
      - name: Upload Release
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.tar.gz
            *.zip
